## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [2]:
# 1) Seu código aqui

pc_mat = df_mat / 24
pc_por = df_por / 18
pc_geo = df_geo /  8
pc_ing = df_ing /  8
pc_his = df_his /  8
pc_fis = df_fis /  8
pc_qui = df_qui /  8

In [3]:
# 2) Seu código aqui
total = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
total

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [4]:
# 3) Seu código aqui
total/90

    Qt_acertos
0     0.388889
1     0.533333
2     0.555556
3     0.355556
4     0.333333
..         ...
95    0.377778
96    0.300000
97    0.444444
98    0.444444
99    0.466667

[100 rows x 1 columns]

In [5]:
# 4) Seu código aqui
total_gt_45 = total[total['Qt_acertos'] > 45]
total_gt_45.count()

Qt_acertos    31
dtype: int64

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [6]:
# seu código aqui
df_eliminados = total[(df_mat['Qt_acertos'] == 0) | 
                      (df_fis['Qt_acertos'] == 0) | 
                      (df_qui['Qt_acertos'] == 0)]

df_eliminados

    Qt_acertos
3           32
6           29
10          31
12          42
14          31
20          53
25          27
26          40
27          50
33          39
35          48
49          19
56          39
65          24
66          31
72          50
73          37
74          39
84          26
89          63
92          40
94          25
98          40

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [7]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-ffba3962-b982-4509-b9ed-ca9a52b9336b.c000.csv'

In [8]:
# 1) Sua solução aqui
df = pd.read_csv(arquivo, sep=';')

In [9]:
df.head()

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,6ce92aec-da47-43f2-a2c1-57d605e79150-i0b0,52aaece2e42f27e7ac2b1187b154a79946d7583fe6fd95...,29,1992-10-15,F,3,PARDA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,21PVCD368Z,ASTRAZENECA/FIOCRUZ,149,2022-07-11,Reforço,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
1,31b66d4e-1cab-43c6-977b-371af2f8a8ac-i0b0,f604b1b980eafd3683e944b78cc5258ebce5fe34025822...,26,1995-02-27,F,3,PARDA,120025.0,10.0,EPITACIOLANDIA,...,2.0,Faixa Etária,FJ4187,PFIZER,Organization/28290,2022-01-18,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
2,60ceb9c5-aa0c-4da5-9cce-ae136ef488ae-i0b0,c646152c1f672e1f4bb58ce45806c384ac68b604a26af1...,23,1997-12-02,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,214VCD056W,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-07-22,1ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
3,31d6b821-d3e5-41ce-a9f0-edcb05377f20-i0b0,a4a55ef0b4047a03a510152b17ecdb7be9c23bcd86189a...,46,1975-01-17,M,4,AMARELA,110020.0,10.0,PORTO VELHO,...,1.0,Comorbidades,28230BD,PFIZER,Organization/00394544000851,2021-09-09,Dose Adicional,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
4,796b186f-0a9f-4b59-a5d4-67d1ca0b11f4-i0b0,ea4f254ac0286b9828c141823284b1c32ff139623fb09b...,12,2009-09-30,M,1,BRANCA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FG3525,PFIZER,Organization/00394544000851,2021-11-17,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363151 entries, 0 to 363150
Data columns (total 32 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   document_id                               363151 non-null  object
 1   paciente_id                               363151 non-null  object
 2   paciente_idade                            363151 non-null  int64
 3   paciente_dataNascimento                   363151 non-null  object
 4   paciente_enumSexoBiologico                363151 non-null  object
 5   paciente_racaCor_codigo                   363151 non-null  int64
 6   paciente_racaCor_valor                    363151 non-null  object
 7   paciente_endereco_coIbgeMunicipio         360908 non-null  float64
 8   paciente_endereco_coPais                  360914 non-null  float64
 9   paciente_endereco_nmMunicipio             360913 non-null  object
 10  paciente_endereco_nmPais                  360914 non-null  object
 11  paciente_endereco_uf                      360908 non-null  object
 12  paciente_endereco_cep                     309987 non-null  float64
 13  paciente_nacionalidade_enumNacionalidade  362975 non-null  object
 14  estabelecimento_valor                     363151 non-null  int64
 15  estabelecimento_razaoSocial               363151 non-null  object
 16  estalecimento_noFantasia                  363151 non-null  object
 17  estabelecimento_municipio_codigo          363151 non-null  int64
 18  estabelecimento_municipio_nome            363151 non-null  object
 19  estabelecimento_uf                        363151 non-null  object
 20  vacina_grupoAtendimento_codigo            363138 non-null  float64
 21  vacina_grupoAtendimento_nome              362172 non-null  object
 22  vacina_categoria_codigo                   342760 non-null  float64
 23  vacina_categoria_nome                     342760 non-null  object
 24  vacina_lote                               363151 non-null  object
 25  vacina_fabricante_nome                    363151 non-null  object
 26  vacina_fabricante_referencia              360975 non-null  object
 27  vacina_dataAplicacao                      363151 non-null  object
 28  vacina_descricao_dose                     363151 non-null  object
 29  vacina_codigo                             363151 non-null  int64
 30  vacina_nome                               363142 non-null  object
 31  sistema_origem                            362752 non-null  object
dtypes: float64(5), int64(5), object(22)
memory usage: 88.7+ MB

In [11]:
df.shape[0]

363151

In [12]:
# 2) 
df['paciente_id'].nunique()

300713

In [13]:
# 3) 
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

70179

In [14]:
# 3) solução alternativa
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df_primeira_dose = df[df['vacina_descricao_dose'] == primeira_dose]
df_primeira_dose['paciente_id'].nunique()

70179

In [15]:
# 4) 
df_menor = df[df["paciente_idade"]<18]
df_menor['paciente_id'].nunique()

58613

In [16]:
# 5)
df['estabelecimento_razaoSocial'].nunique()

54

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [17]:
# 1) 
df_menor = df[df["paciente_idade"]<18].copy()

In [18]:
# 2) 
df_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [19]:
# 3)
df_menor['vacina_categoria_nome'].value_counts()

vacina_categoria_nome
Faixa Etária                                      37533
Outros                                             3701
Povos Indígenas                                    3090
Povos e Comunidades Tradicionais                    679
Trabalhadores de Saúde                              238
População Privada de Liberdade                       50
Comorbidades                                         42
Gestantes                                            28
Pessoas com Deficiência                               5
Pessoas Institucionalizadas                           3
Pessoas de 60 anos ou mais institucionalizadas        1
Puérperas                                             1
Trabalhadores da Educação                             1
Name: count, dtype: int64

In [20]:
# 4)
lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
df_menor_lista = df_menor.loc[:,lista_variaveis]

In [21]:
# 5)
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape

(158, 6)